In [3]:
import pandas as pd

In [4]:
transaction_data = pd.read_csv('../datasets/transaction_data.tsv', sep='\t')
print(transaction_data)

              date TICKER                COMNAM    BIDLO  ASKHI  OPENPRC  \
0       2012/01/03   ORCL           ORACLE CORP  25.8300  26.66    26.33
1       2012/01/04   ORCL           ORACLE CORP  25.5500  26.23    25.95
2       2012/01/05   ORCL           ORACLE CORP  25.9100  26.90    26.01
3       2012/01/06   ORCL           ORACLE CORP  26.3600  27.15    26.67
4       2012/01/09   ORCL           ORACLE CORP  26.6600  27.12    26.90
...            ...    ...                   ...      ...    ...      ...
105010  2012/12/24   CBOE  C B O E HOLDINGS INC  29.7150  30.16    30.12
105011  2012/12/26   CBOE  C B O E HOLDINGS INC  29.1400  29.77    29.77
105012  2012/12/27   CBOE  C B O E HOLDINGS INC  29.1600  29.64    29.64
105013  2012/12/28   CBOE  C B O E HOLDINGS INC  29.1101  29.53    29.27
105014  2012/12/31   CBOE  C B O E HOLDINGS INC  29.2900  29.49    29.40

           PRC         VOL     SHROUT
0       25.865  38081439.0  5025837.0
1       26.010  45599113.0  5025837.0
2       26.590  51020071.0  5025837.0
3       26.930  55830810.0  5025837.0
4       27.030  38596800.0  5025837.0
...        ...         ...        ...
105010  29.880    285966.0    87272.0
105011  29.580    557886.0    87272.0
105012  29.330    563717.0    87272.0
105013  29.370   1055427.0    87272.0
105014  29.460    629089.0    87272.0

[105015 rows x 9 columns]

In [5]:
tickers = transaction_data['TICKER'].unique()
print(len(tickers))

418

In [10]:
transaction_data = transaction_data.drop_duplicates(['date', 'TICKER'], keep='last')
tickers = transaction_data['TICKER'].unique()
transaction_data.to_csv("../datasets/transaction_data_cleaned.csv", index=True, header=True)

In [13]:
last_date_rows = transaction_data[transaction_data.values == "2012/12/31"]
last_date_stock_prices = {}
for index, row in last_date_rows.iterrows():
    last_date_stock_prices[row['TICKER']] = [row['PRC'], row['COMNAM'], row['OPENPRC']]

val = last_date_stock_prices.values()
PRC = [v[0] for v in val]
COMNAM = [v[1] for v in val]
OPENPRC = [v[2] for v in val] 
df = pd.DataFrame({'TICKER': list(last_date_stock_prices.keys()), 'PRC': PRC, 'OPENPRC': OPENPRC, 'COMNAM': COMNAM}, columns=['TICKER', 'PRC', 'OPENPRC', 'COMNAM'])
df.to_csv('../database/last_date_price.csv', index=False, header=True)

In [14]:
df = pd.read_csv('../database/last_date_price.csv')
df

    TICKER      PRC  OPENPRC                            COMNAM
0     ORCL  33.3200    32.91                       ORACLE CORP
1     MSFT  26.7097    26.59                    MICROSOFT CORP
2     TROW  65.1171    63.98            T ROWE PRICE GROUP INC
3      HON  63.4700    62.72       HONEYWELL INTERNATIONAL INC
4      ADM  27.3900    27.00         ARCHER DANIELS MIDLAND CO
..     ...      ...      ...                               ...
410    SNI  57.9200    56.42  SCRIPPS NETWORKS INTERACTIVE INC
411  DISCK  58.5000    57.12      DISCOVERY COMMUNICATIONS INC
412   VRSK  50.9700    50.15              VERISK ANALYTICS INC
413     DG  44.0900    42.60           DOLLAR GENERAL CORP NEW
414   CBOE  29.4600    29.40              C B O E HOLDINGS INC

[415 rows x 4 columns]